<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"> -->
</head>

<body>
    {% include "header.html" %}
    <div style="width: 100vw;
    height: 88vh;
    background-image: url(/static/images/libraryBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;">
        <h1 style="padding-left: 45px;">Home Page</h1>
    </div>
</body>

</html>