<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/static/style.css"> -->
</head>
<body>
    {% set imgPath="images/"+book['isbn'] | string+".jpg" %}
    <div class="style">
    <img src="{{url_for('static',filename=imgPath)}}" alt="">
    <p>Book: {{book['title']}}</p>
    <p>Author: {{book['author']}}</p>
    <p>ISBN: {{book['isbn']}}</p>
    <p>Genre: {{book['genre']}}</p>
    <p>Publication Year: {{book['yearofPublication']}}</p>
    </div>
</body>
</html>